.bottone:hover {
    color:white;
    /* padding: 5px 8px; */
    /* border-width: 4px; */
}

nav .dropdown-item:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.bottone.nav_login:hover{
    border-color: black;
}

/* funziona solo con active e hover */
.dropdown-toggle.menu_arrow:active {
    transform: rotate(90deg);
}

/* SECTION 2 */

.sec2 figure:hover {
    border: 5px solid rgb(3, 110, 190);
    padding: 2px;
    bottom: 1rem;
}

/* SECTION 3 */

.sec3 .last_row .card:hover {
    filter: opacity(100%);
}


.sec3 .last_row .col:hover:not(.col.d-flex) {
    background-clip: padding-box;
    border-bottom: 2px solid rgb(37, 97, 197);
    padding-bottom: 2rem;
}
