/* HEADER */


/* BOTTONI */
.bottone:hover {
    color:white;
    border: 2px solid;
    padding: 6px 10px 8px;
    bottom: 1rem;
}

.nav_login:hover {
border-color: rgb(53, 53, 53);
}

nav .dropdown-item:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.dropdown-toggle:hover::after {
    transform: rotate(180deg);
}


/* SECTION 2 */

.sec2 figure:hover {
    border: 5px solid rgb(3, 110, 190);
    padding: 2px;
    bottom: 1rem;
}

/* SECTION 3 */

.sec3 .last_row .card:hover {
    filter: opacity(100%);
}

.sec3 .last_row .col:hover:not(.col.d-flex) {
    background-clip: padding-box;
    border-bottom: 2px solid rgb(37, 97, 197);
    padding-bottom: 2rem;
}
