* {
    box-sizing: border-box;
}

header {
    height: auto;
}

ul {
    list-style: none;
}

.header_logo {
    height: 2rem;
}

#sony-logo {
    width: 6rem;
}

nav {
    font-weight: 500;
    height: 5rem;
}

nav ul {
    gap:1rem;
    height: 100%;
}

#accedi {
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}

nav li {
    height: 100%;
}

.bi.bi-search {
    color:black;
    font-weight: 700;
}

/* MAIN */

main {
    position: relative;
    top:7rem;
}

/* SECTION 1 */

.sec1 {
    background-image: url('../img/img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 675px;
    color: white;
}

.sec1 .container,
.sec4 .container {
    height: 100%;
}

.sec1 li:nth-child(2) {
    white-space: nowrap;
}

/* SECTION 3 */

.sec3 h1,
.sec4 h1 {
    font-size: 2.5rem;
}

.sec3 .last_row img {
    filter: opacity(50%);
}

.sec3 .col-4.col:first-child {
    background-clip: padding-box;
    border-bottom: 2px solid rgb(37, 97, 197);
}

/* SECTION 4 */

.sec4 {
    background-image: url('../img/img/it-takes-two-hero-banner-desktop.jpg');
    height: 965px;
    background-size: cover;
    background-position: center;
}





footer {
    background-color: rgb(28, 68, 153);
    height: auto;
}