* {
    box-sizing: border-box;
}

header {
    height: auto;
}

ul {
    list-style: none;
}

.header_logo {
    height: 2rem;
}

#sony-logo {
    width: 6rem;
}

nav {
    font-weight: 500;
    height: 5rem;
}

nav ul {
    gap:1rem;
    height: 100%;
}

#accedi {
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}

nav li {
    height: 100%;
}

.bi.bi-search {
    color:black;
    font-weight: 700;
}

/* MAIN */

main {
    position: relative;
    top:7rem;
}

/* SECTION 1 */

.sec1 {
    background-image: url('../img/img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 675px;
    color: white;
}

.sec1 .container {
    height: 100%;
}

/* SECTION 2 */

/* .sec2 .col {

} */













footer {
    background-color: rgb(28, 68, 153);
    height: auto;
}