* {
    box-sizing: border-box;
}

header {
    height: auto;
}

ul {
    list-style: none;
}

.header_logo {
    height: 2rem;
}

#sony-logo {
    width: 6rem;
}

nav {
    font-weight: 500;
    height: 5rem;
}

nav ul {
    gap:1rem;
    height: 100%;
}

#accedi {
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}

nav li {
    height: 100%;
}

.bi.bi-search {
    color:black;
    font-weight: 700;
}

.rotondo{
    border-radius: 25px;
}

nav .search_ico {
    width: 1.7rem;
}

/* I MENU CLICCATI DIVENTANO ORIZZONTALI */
nav .dropdown {
    position: static;
}

nav .dropdown-menu[data-bs-popper] {
    width: 100%;
    margin-top: 0;
}

nav .dropdown-menu {
    border: none;
    border-radius: 0;
}

nav .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav .dropdown-item {
    text-align: center;
}

nav .dropdown-item img{
    display: block;
    width: 100%;
}



/* MAIN */

main {
    position: relative;
    top:7rem;
}

/* SECTION 1 */

.sec1 {
    background-image: url('../img/img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 675px;
    color: white;
}

.sec1 .container,
.sec4 .container {
    height: 100%;
}

.sec1 li:nth-child(2) {
    white-space: nowrap;
}

/* SECTION 3 */

.sec3 h1,
.sec4 h1,
.sec8 h1 {
    font-size: 2.5rem;
}

.sec3 .last_row img {
    filter: opacity(50%);
}

.sec3 .col-4.col:first-child {
    background-clip: padding-box;
    border-bottom: 2px solid rgb(37, 97, 197);
}

/* SECTION 4 */

.sec4 {
    background-image: url('../img/img/it-takes-two-hero-banner-desktop.jpg');
    height: 965px;
    background-size: cover;
    background-position: center;
}


/* SECTION 5 */

.sec5 {
    background-color: rgb(36, 36, 36);
}

.sec-5 .card {
    border: none;
    background-color: none;
}

/* SECTION 7 */

section.sec7 {
    background-color: rgb(188, 186, 186);
}

.sec7 p,
.sec8 p  {
    font-weight: 600;
}

.sec7 .rotondo {
    background-color:rgb(216, 217, 219);
    font-weight: 600;
    width: fit-content;
    height: fit-content;
}


/* SECTION 9 */

.sec9 {
    background-color: rgb(29, 33, 61);
}

.sec9 .rotondo {
    background-color:rgb(245, 245, 245);
    font-weight: 600;
    width: fit-content;
    height: fit-content;
}

/* FOOTER */

footer {
    background-color: rgb(28, 68, 153);
    height: auto;
}