* {
    box-sizing: border-box;
}

header {
    height: auto;
}

ul {
    list-style: none;
}

.header_logo {
    height: 2rem;
}

#sony-logo {
    width: 6rem;
}

nav {
    font-weight: 500;
    height: 5rem;
}

nav ul {
    gap:1rem;
}

.nav_login {
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}

.bi.bi-search {
    color:black;
    font-weight: 700;
}

.bottone {
    color: white;
    border-radius: 30px;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    padding: 6px 10px 8px;
    border: 3px solid;
}

a.bottone {
    text-decoration: none;
}

nav .search_ico {
    width: 1.7rem;
}

/* I MENU CLICCATI DIVENTANO ORIZZONTALI */

nav .dropdown {
    position: static;
}

nav .dropdown-menu[data-bs-popper] {
    width: 100%;
    margin-top: 0;
}

nav .dropdown-menu {
    border: none;
    border-radius: 0;
}

nav .dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100vw;
    background-color: white; */
}

nav .dropdown-item {
    text-align: center;
}

nav .dropdown-item img{
    display: block;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    background-color: white;
}

.bottone.nav_login{
    border-color: rgb(57, 57, 57);
}

/* MAIN */

main {
    position: relative;
    top:7rem;
}

/* SECTION 1 */

.sec1 {
    background-image: url('../img/img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 675px;
    color: white;
}

.sec1 .bottone,
.sec4 .bottone{
    border-color: rgb(192, 61, 27);
    background-color: rgb(192, 61, 27);
}

.sec1 .container,
.sec4 .container {
    height: 100%;
}

.sec1 li:nth-child(2) {
    white-space: nowrap;
}

/* SECTION 3 */

.sec3 h1,
.sec4 h1,
.sec8 h1 {
    font-size: 2.5rem;
}

.sec3 a {
    text-decoration: none;
    color: black;
}

.sec3 .last_row .card {
    filter: opacity(50%);
}

.sec3 .first_card {
    background-clip: padding-box;
    border-bottom: 2px solid rgb(37, 97, 197);
    padding-bottom: 2rem;
}

.sec3 .bottone,
.sec6 .bottone {
    border-color: rgb(60, 99, 227);
    background-color: rgb(60, 99, 227);
}

/* SECTION 4 */

.sec4 {
    background-image: url('../img/img/it-takes-two-hero-banner-desktop.jpg');
    height: 965px;
    background-size: cover;
    background-position: center;
}

/* SECTION 5 */

.sec5 {
    background-color: rgb(36, 36, 36);
}

.sec-5 .card {
    border: none;
    background-color: none;
}

.sec5 .rounded,
.sec1 .bottone {
    background-color: rgb(198, 62, 25);
}

/* SECTION 7 */

section.sec7 {
    background-color: rgb(188, 186, 186);
}

.sec7 p,
.sec8 p  {
    font-weight: 600;
}

.sec7 .bottone {
    background-color:rgb(216, 217, 219);
    border-color:rgb(216, 217, 219);
}


/* SECTION 9 */

.sec9 {
    background-color: rgb(29, 33, 61);
}

.sec9 .bottone {
    background-color:rgb(245, 245, 245);
}

/* SECTION 10 */

.sec10 figure{
    max-width: 15rem;
}

.sec10 {
    margin-bottom: 8rem;
}

/* FOOTER */

footer {
    background-color: #1c4499;
    height: auto;
}

footer img {
    width: 8rem;
    position: relative;
}

footer .p_nowrap,
footer a {
    white-space: nowrap;
}

/* footer figure {
    position: relative;
}

footer span {
    position: absolute;
    right: 10%;
    bottom: 10%;
} */

footer a {
    text-decoration: none;
    color: white;
}
