* {
    box-sizing: border-box;
}

header {
    height: auto;
}

.header_logo {
    height: 3rem;
}

#sony-logo {
    width: 8rem;
}

nav{
    font-weight: 500;
}


.btn_play {

}

#accedi {
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}






















/* FOOTER - togli l'altezza e mettila auto alla fine */
footer {
    background-color: rgb(28, 68, 153);
    height: 25rem;
}