* {
    box-sizing: border-box;
}

header {
    height: auto;
}

.header_logo {
    height: 3rem;
}

#sony-logo {
    width: 8rem;
}

nav {
    font-weight: 500;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    gap:1rem;
}

#accedi {
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}

.bi.bi-search {
    color:black;
    font-weight: 700;
}



/* SECTION 1 */



















/* FOOTER - togli l'altezza e mettila auto alla fine */
footer {
    background-color: rgb(28, 68, 153);
    height: 25rem;
}